/*Common style:*/

body {
    padding: 0;
    margin: 0;
    background: beige;
}
button {
    background-color: sienna;
    border-radius: 20px;
    font-family: 'Dekko';
    font-style: oblique;
    font-weight: bold;
    -webkit-box-shadow: 8px 8px saddlebrown;
}
/*  margin-top: 10px;
    width: 180px;
    height: 60px;
    font-size: 20px;
*/

h1 {
    font-family: 'Dekko';
    font-style: oblique;
    font-weight: bold;
    font-size: 120px;
    margin-bottom: 0;
}
.body{
    position: relative;
    display: block;
    background-color: burlywood;
    text-align: center;
    width: 550px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-bottom: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px peru;
}
#quizListBody{
    position: relative;
    display: block;
    background-color: burlywood;
    text-align: center;
    width: 550px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px peru;
}
#playBody{
    position: relative;
    display: block;
    background-color: beige;
    text-align: left;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px darkcyan;
}
#editQuizBody{
    display: block;
    background-color: turquoise;
    text-align: center;
    width: 1000px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding-bottom: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px darkcyan;
}

/*
Style for index.html
*/


#new {
    margin-right: 40px;
}


/*
Style for newquiz.html
*/

.subheader{
    font-family: 'Dekko';
    font-style: oblique;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0;
}

#back{
    float: left;
    position: absolute;
    left: 10px;
    width: 60px;
    height: 40px;
}

/*
Style for quizlist.html
*/

#quizlistHeader{
    font-family: 'Dekko';
    font-style: oblique;
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 0;
}

#quizlist{
    text-align: center;
}

#temp{
     position: absolute;
     left:10px;
     bottom: 10px;
     width: 60px;
     height: 40px;
}
.score{
    margin-left: 10px;
    width: 60px;
    height: 40px;
}

.waiting{
    height: 100px;
}
.ready{
    height: 100px;
}
.done{
    height: 100px;
}


/*style for play.html:*/


#question{
     width: auto;
     font-family: 'Dekko';
     font-style: oblique;
     font-weight: bold;
     font-size: 40px;
     margin: 0 0 0 0;
}

#time{
      width:auto;
      text-align: left;
      font-family: 'Dekko';
      font-style: oblique;
      font-weight: bold;
      font-size: 30px;
      margin: 0 0 0 0;
}

#back{
    float: left;
    position: absolute;
    left: 10px;
    width: 60px;
    height: 40px;
}

#quiz{
    margin:auto;
    text-align: center;
}

/*style for editquiz.html*/



#inputs{
    margin-top:10px;
    margin-bottom:10px;
    text-align: left;
    margin-left: 30%;
}
#time{
    width: 35px;
}